img {
    display: block;
    margin: 16px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    height: 140vh;
    background-color: black;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.8fr 2fr 2fr;
    font-family: "Roboto", sans-serif;
    background-color: rgb(215, 215, 215);
}
.header {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 1;
}
.header .search {
    width: 600px;
    height: 1.8rem;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    margin: 12px;
}
.header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .left {
    display:flex ;
    align-items: center;
    margin-left: 30px;
}
.header .right {
    margin: 0 80px;
    display: flex;
    align-items: center;
}
.header .bottom {
    display: flex;
    justify-content: space-between;
}
.header h2 {
    margin-top: 0;
}
.header p {
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 8px;
}
.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 80px;
    gap: 30px
}
.header ul li {
    background-color: #1992d4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 7.5rem;
    height: 2.5rem;
}
.sidebar {
    background-color: #1992d4;
    color: white;
    font-weight: 500;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
.sidebar .top {
    display: flex;
    padding: 0 10px;
    align-items: center;
}
.sidebar ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    margin: 30px 0;
    font-size: 1.3rem;
}
.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
.sidebar img {
    filter: invert(100%);
}
.sidebar ul img {
    margin: 0;
}
#second {
    margin-top: 60px;
}
.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: rgb(207, 221, 227);
    padding: 15px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}
.card {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px 15px;
    border-radius: 8px;
    border-left: 4px solid goldenrod;
}
.card p {
    color: rgb(121, 121, 121);
}
.imgs {
    float: right;
    display: flex;
}
.imgs img {
    width: 20px;
    height: 20px;
}
.announcements {
    background-color: rgb(207, 221, 227);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 15px;
}
.announce {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.announce h5 {
    font-size: 1rem;
    margin: 10px 0;
}
.announce p {
    color:rgb(121, 121, 121);
    margin: 0;
}
.trending {
    background-color: rgb(207, 221, 227);
    padding: 15px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.trend {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.trend > div {
    display: flex;
}
.contact {
    margin: 16px;
    margin-left: 0;
}
.trending p {
    color:rgb(121, 121, 121);
    margin: 0;
    font-size: 1rem;
}
.trending h4 {
    margin: 0;
    margin-bottom: 5px;
}
.trending h2 {
    margin: 0 0 10px 0;
}